{% extends "base.html" %}
{% block title %}Клиенты{% endblock %}

{% block content %}
    <h1>Список клиентов</h1>
    <div class="row-fluid">
        <div class="span12">
            <form class="well form-search" method="POST" action="/clients/">
                {% csrf_token %}{{ form.management_form }}
                <input type="text" class="input-medium search-query"
                    name="searchtext" placeholder="поиск по имени..." value="{{ searchtext }}">
                <button type="submit" class="btn">Поиск</button>
            </form>
            <p>
                <a class="btn btn-success" href="/client/add/" title="Добавление">
                    <i class="icon-plus icon-white"></i>
                    Добавить
                </a>
            </p>
            {% if objlist %}
                <table class="table table-striped">
                    <tr>
                        <th>№</th>
                        <th>Ф.И.О.</th>
                        <th>Телефон</th>
                        <th>Электронный адрес</th>
                        <th>Скидка</th>
                        <th>Почтовый адрес</th>
                        <th>Примечание</th>
                        <th width="105px"></th>
                    </tr>
                    {% for client in objlist %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="/reqlist/add/{{ client.id }}" title="Перейти редактированию заявки">
                                    {{ client.name }}
                                </a>
                            </td>
                            <td>{{ client.phone }}</td>
                            <td>{{ client.email|urlizetrunc:18 }}</td>
                            <td>{{ client.discont|default:"---" }}</td>
                            <td>{{ client.address }}</td>
                            <td>{{ client.comment|default:"" }}</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-list-alt icon-white"></i>
                                        действие
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="/client/edit/{{ client.id }}" title="Правка">
                                                <i class="icon-pencil"></i>
                                                Правка
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/client/delete/{{ client.id }}" title="Удаление" onclick="return confirm('Вы действительно хотите удалить клиента?');">
                                                <i class="icon-trash"></i>
                                                Удаление
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="/reqlist/add/{{ client.id }}" title="Перейти к заявкам">
                                                <i class="icon-shopping-cart"></i>
                                                Товары
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/reqlists/?client={{ client.id }}" title="Перейти к заявкам">
                                                <i class="icon-file"></i>
                                                Заявки
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/contracts/?client={{ client.id }}" title="Контракты клиента">
                                                <i class="icon-book"></i>
                                                Сделки
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Клиенты на найдены</p>
            {% endif %}
        </div>
    </div>
{% endblock %}