{% extends "base.html" %}
{% block title %}Товары и услуги{% endblock %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function() {
    product_search(1);
    $('#id_provider').change(function() {
        product_search(1);
    });
    $('#id_onlyservice').change(function() {
        product_search(1);
    });
})
</script>
{% endblock %}

{% block content %}
    <h1>Список товаров и услуг</h1>
    <div class="row-fluid">
        <div class="span12">
            <form class="well form-search" method="POST" action="javascript:product_search()">
                {% csrf_token %}{{ form.management_form }}
                <label for="id_provider">{{ form.provider.label }}</label>
                {{ form.provider }}
                <input type="text" id="id_search" class="input-medium search-query"
                    name="progsearch" placeholder="название, примечание..." value="{{ searchtext }}">
                <label class="checkbox">
                    {{ form.onlyservice }} {{ form.onlyservice.label }}
                </label>
                <button type="submit" class="btn">
                    <i class="icon-search"></i>
                    Поиск
                </button>
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="container-fluid" id="product_list"></div>
    </div>
{% endblock content %}