{% block content %}
{% load itags %}
<div class="row-fluid">
    <div class="span2">
        <div class="btn-group">
            <button class="btn btn-success">
                <i class="icon-list-alt icon-white"></i>
                Добавить
            </button>
            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/product/add/">1 запись</a></li>
                <li><a href="/product/many/5/?provider={{ provider }}">5 записей</a></li>
                <li><a href="/product/many/10/?provider={{ provider }}">10 записей</a></li>
                <li><a href="/product/many/50/?provider={{ provider }}">50 записей</a></li>
            </ul>
        </div>
    </div>
    <div class="span10">
        {% if pagec > 1 %}
            <div class="pagination pagination-right">
                <ul>
                    <li><a href="javascript:product_search({{ page|add:-1 }})">&laquo;</a></li>
                    {% for p in allpage %}
                        {% if p == page %}
                            <li class="active">
                                <a href="#">{{ p }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="javascript:product_search({{ p }})">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li><a href="javascript:product_search({{ page|add:1 }})">&raquo;</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>

{% if products %}
    <div class="row-fluid">
        <div class="span3">
            <strong>Название</strong>
        </div>
        <div class="span2">
            <strong>Цена, руб.</strong>
        </div>
        <div class="span2">
            <strong>Остаток, шт.</strong>
        </div>
        <div class="span3">
            <strong>Примечание</strong>
        </div>
        <div class="span1">
            <!-- <strong>управление</strong> -->
        </div>
    </div>
    <hr />
    {% for product in products %}
        <div class="row-fluid">
            <div class="span3">
                {{ product.name }}
                {% if product.service %}
                    <i class="icon-flag"></i>
                {% endif %}
            </div>
            <div class="span2">
                {{ product.price|rusnum }}
            </div>
            <div class="span2">
                {{ product.rest }}
            </div>
            <div class="span3">
                {{ product.comment|default:"" }}&nbsp;
            </div>
            <div class="span2">
                <a class="btn btn-info" href="javascript:alert('ok')" title="Быстрая правка">
                    <i class="icon-refresh icon-white"></i>
                </a>
                <a class="btn btn-primary" href="/product/edit/{{ product.id }}" title="Правка">
                    <i class="icon-pencil icon-white"></i>
                </a>
                <a class="btn btn-danger" href="javascript:delete_product({{ product.id }})" title="Удаление">
                    <i class="icon-trash icon-white"></i>
                </a>
            </div>
        </div><br />
    {% endfor %}
{% else %}
    <br />
    <p>По указанным условиям поиска данные отсутствуют.</p>
{% endif %}

{% endblock content %}