{% extends "base.html" %}
{% block title %}Поставщики{% endblock %}

{% block content %}
    <h1>Список поставщиков</h1>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <br />
                <p>
                    <a class="btn btn-success" href="/provider/add/" title="Добавление">
                        <i class="icon-plus icon-white"></i>
                        Добавить
                    </a>
                </p>
                <table class="table table-striped">
                    <tr>
                        <th>№</th>
                        <th>Наименование</th>
                        <th>Телефон</th>
                        <th>Электронный адрес</th>
                        <th>Почтовый адрес</th>
                        <th>Сайт</th>
                        <th>Примечание</th>
                        <th></th>
                    </tr>
                    {% for prov in objlist %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ prov.name }}</td>
                            <td>{{ prov.phone }}</td>
                            <td>{{ prov.email|urlizetrunc:18 }}</td>
                            <td>{{ prov.address }}</td>
                            <td>{{ prov.site|urlizetrunc:18 }}</td>
                            <td>{{ prov.comment }}</td>
                            <td>
                                <a class="btn btn-primary" href="/provider/edit/{{ prov.id }}" title="Правка">
                                    <i class="icon-pencil icon-white"></i>
                                </a>
                                <a class="btn btn-danger" href="/provider/delete/{{ prov.id }}" title="Удаление" onclick="return confirm('Вы действительно хотите удалить поставщика?');">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}