{% load itags %}
{% if objlist %}
    {% for obj in objlist %}
        <div class="row-fluid">
            <div class="well span10">
                <h4>
                    {{ obj.name }}
                    {% if obj.service %}
                        <i class="icon-flag"></i>
                    {% endif %}
                    {% if obj.provider %}
                        <span class="label">{{ obj.provider.name }}</span>
                    {% endif %}
                </h4>
                {{ obj.price|rusnum }} руб.
                {% if not obj.service %}
                    <span class="badge badge-info">{{ obj.rest }}</span>
                {% endif %}
                <br /><br />
                <a class="btn btn-mini btn-primary" title="{{ obj.comment|default:'' }}" href="javascript:addreq_product({{ obj.id }})">
                    <i class="icon-shopping-cart icon-white"></i>
                    Добавить &raquo;
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Данные не найдены</p>
{% endif %}